:root {
  font-size: 62.5%;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
    url(./fonts/Graphik-font/Graphik-Regular.ttf) format("truetype");
}

body {
  margin: 0px;
  width: 100%;
}
